* {
  margin: 0;
  padding: 0; }

.logo {
  display: flex;
  justify-content: center;
  margin: 10px; }

.nav-algoBonito .nav-lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .nav-algoBonito .nav-lista li a {
    margin: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bolder; }

div {
  display: flex;
  flex-direction: row;
  align-items: center; }

.main-contacto {
  background-image: url(https://thumbs.dreamstime.com/z/el-doodle-de-los-medios-sociales-es-un-patr%C3%B3n-sin-fisuras-ornamento-repetido-con-elementos-dibujados-mano-sobre-fondo-blanco-162559147.jpg);
  background-position: center center; }
  .main-contacto section article form {
    padding: 20px;
    background-color: rgba(255, 119, 28, 0.733); }
    .main-contacto section article form .titulo, .main-contacto section article form .labels, .main-contacto section article form .selector, .main-contacto section article form .listaDesplegable, .main-contacto section article form .cuestionario {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 25px;
      padding: 20px; }
      .main-contacto section article form .titulo h2, .main-contacto section article form .labels h2, .main-contacto section article form .selector h2, .main-contacto section article form .listaDesplegable h2, .main-contacto section article form .cuestionario h2, .main-contacto section article form .titulo p, .main-contacto section article form .labels p, .main-contacto section article form .selector p, .main-contacto section article form .listaDesplegable p, .main-contacto section article form .cuestionario p {
        color: #ff771c;
        font-weight: 900; }
      .main-contacto section article form .titulo p, .main-contacto section article form .labels p, .main-contacto section article form .selector p, .main-contacto section article form .listaDesplegable p, .main-contacto section article form .cuestionario p {
        font-weight: 500; }
    .main-contacto section article form .labels input, .main-contacto section article form .selector input, .main-contacto section article form .listaDesplegable input, .main-contacto section article form .cuestionario input {
      background-color: #dfd3d3;
      border: 1px;
      border-style: solid;
      border-radius: 20px;
      padding-left: 20px; }
      @media screen and (max-width: 350px) {
        .main-contacto section article form .labels input, .main-contacto section article form .selector input, .main-contacto section article form .listaDesplegable input, .main-contacto section article form .cuestionario input {
          padding: 0px;
          max-width: 100px; } }
    .main-contacto section article form .cuestionario .botones .enviar, .main-contacto section article form .cuestionario .botones .resetear {
      background-color: #ff771c;
      color: white;
      padding: 10px;
      border: 1px;
      border-style: solid;
      border-radius: 10px;
      border-color: rgba(0, 0, 0, 0.603);
      margin: 10px; }
    .main-contacto section article form .cuestionario .checkbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px; }
      .main-contacto section article form .cuestionario .checkbox p {
        margin: 10px; }

header {
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px; }

.main-nosotros .nosotros {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (max-width: 550px) {
    .main-nosotros .nosotros .logo2 .figure-logo2 img {
      max-width: 250px; } }
  .main-nosotros .nosotros .sobreNosotros {
    padding-left: 20px;
    max-width: 500px; }
    .main-nosotros .nosotros .sobreNosotros h2, .main-nosotros .nosotros .sobreNosotros .main-contacto section article form .titulo p, .main-contacto section article form .titulo .main-nosotros .nosotros .sobreNosotros p, .main-nosotros .nosotros .sobreNosotros .main-contacto section article form .labels p, .main-contacto section article form .labels .main-nosotros .nosotros .sobreNosotros p, .main-nosotros .nosotros .sobreNosotros .main-contacto section article form .selector p, .main-contacto section article form .selector .main-nosotros .nosotros .sobreNosotros p, .main-nosotros .nosotros .sobreNosotros .main-contacto section article form .listaDesplegable p, .main-contacto section article form .listaDesplegable .main-nosotros .nosotros .sobreNosotros p, .main-nosotros .nosotros .sobreNosotros .main-contacto section article form .cuestionario p, .main-contacto section article form .cuestionario .main-nosotros .nosotros .sobreNosotros p {
      color: #ff771c; }

.main-nosotros .misionVisionValores {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 70px;
  padding-top: 40px; }
  .main-nosotros .misionVisionValores .mision, .main-nosotros .misionVisionValores .vision, .main-nosotros .misionVisionValores .valores {
    text-align: center; }
    .main-nosotros .misionVisionValores .mision .misionVisionValores-titulo, .main-nosotros .misionVisionValores .vision .misionVisionValores-titulo, .main-nosotros .misionVisionValores .valores .misionVisionValores-titulo {
      color: #ff771c;
      font-size: larger; }
  .main-nosotros .misionVisionValores .vision {
    max-width: 770px; }

.destacados {
  display: flex;
  justify-content: center;
  align-items: center; }
  .destacados h1 {
    color: black;
    font-size: 3rem;
    font-weight: 900;
    margin: 20px; }
    @media screen and (max-width: 350px) {
      .destacados h1 {
        font-size: large; } }
  .destacados h2, .destacados .main-contacto section article form .titulo p, .main-contacto section article form .titulo .destacados p, .destacados .main-contacto section article form .labels p, .main-contacto section article form .labels .destacados p, .destacados .main-contacto section article form .selector p, .main-contacto section article form .selector .destacados p, .destacados .main-contacto section article form .listaDesplegable p, .main-contacto section article form .listaDesplegable .destacados p, .destacados .main-contacto section article form .cuestionario p, .main-contacto section article form .cuestionario .destacados p {
    color: black;
    font-size: 3rem;
    font-weight: 900;
    margin: 20px; }
    @media screen and (max-width: 350px) {
      .destacados h2, .destacados .main-contacto section article form .titulo p, .main-contacto section article form .titulo .destacados p, .destacados .main-contacto section article form .labels p, .main-contacto section article form .labels .destacados p, .destacados .main-contacto section article form .selector p, .main-contacto section article form .selector .destacados p, .destacados .main-contacto section article form .listaDesplegable p, .main-contacto section article form .listaDesplegable .destacados p, .destacados .main-contacto section article form .cuestionario p, .main-contacto section article form .cuestionario .destacados p {
        font-size: large; } }

.section-imagenes {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(https://images.pexels.com/photos/1050822/pexels-photo-1050822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  justify-items: center; }
  @media screen and (max-width: 1522px) {
    .section-imagenes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }
  .section-imagenes article figure {
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    transition: all 300ms;
    position: relative; }
    .section-imagenes article figure:hover {
      transform: scale(1.15); }
    .section-imagenes article figure a .new {
      height: 19px;
      background: #ff771c;
      padding: 10px 20px;
      font-weight: 700;
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 1;
      color: #FFF; }
    .section-imagenes article figure a img {
      max-width: 350px; }
      @media screen and (max-width: 350px) {
        .section-imagenes article figure a img {
          max-width: 150px; } }
    .section-imagenes article figure figcaption {
      text-align: center;
      color: white;
      font-size: large; }
    .section-imagenes article figure span {
      margin-left: 140px;
      color: #ff771c;
      font-size: large;
      font-weight: 900; }
      @media screen and (max-width: 350px) {
        .section-imagenes article figure span {
          margin-left: 50px; } }

.tips-redes {
  background-image: url(https://images.pexels.com/photos/2911545/pexels-photo-2911545.jpeg?cs=srgb&dl=pexels-dids-2911545.jpg&fm=jpg);
  background-position: center center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .tips-redes .article-redes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    justify-items: center; }
    @media screen and (max-width: 1522px) {
      .tips-redes .article-redes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; } }
    .tips-redes .article-redes .whatsapp {
      display: flex;
      flex-direction: column; }
  .tips-redes .article-redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .tips-redes .article-redes div {
      transition: all 300ms;
      position: relative;
      margin: 30px; }
      .tips-redes .article-redes div:hover {
        transform: scale(1.15); }
  .tips-redes .article-tips div {
    transition: all 300ms;
    position: relative;
    margin: 30px; }
    .tips-redes .article-tips div:hover {
      transform: scale(1.15); }
    .tips-redes .article-tips div a {
      text-decoration: none; }
      .tips-redes .article-tips div a p {
        color: black;
        font-size: 3rem;
        font-weight: 900;
        margin: 20px; }

.section-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dfd3d3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .section-footer .caja, .section-footer .camion, .section-footer .tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .section-footer .caja figure, .section-footer .camion figure, .section-footer .tarjeta figure {
      margin: 10px; }
  .section-footer .camion h5 {
    margin: 10px; }
  .section-footer .tarjeta {
    padding: 0px 25px 0px 25px;
    border-bottom: 0;
    border-top: 0;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-color: black; }
