@import '../base/base';
@import '../utilities/mixin';
.section-footer{
    padding-top: 50px ;
    padding-bottom: 50px;
    background-color: $color-fondo;
    
    @include flexRow ( wrap , center );

    .caja{
        @include flexRow ( wrap , center );
        align-items: center;
        figure{
            margin: 10px;
        }
    }
    .camion{
        @extend .caja;
        h5{
            margin: 10px;
        }
    }

    .tarjeta{
        @extend .caja;
        padding: 0px 25px 0px 25px;
        border-bottom: 0;
        border-top: 0;
        border-left: 5px;
        border-right: 5px;
        border-style: solid;
        border-color: $color-prinicpal;
    }
}